<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="date=no" />
    <style>
      .awl a {color: #FFFFFF; text-decoration: none;}
      .abml a {color: #000000; font-family: Roboto-Medium,Helvetica,Arial,sans-serif; font-weight: bold; text-decoration: none;}
      .adgl a {color: rgba(0, 0, 0, 0.87); text-decoration: none;}
      .afal a {color: #b0b0b0; text-decoration: none;}
      @media screen and (min-width: 600px) {
        .v2sp {padding: 6px 30px 0px;}
        .v2rsp {padding: 0px 10px;}
        .mdv2rw {padding: 40px 40px;}
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0;" bgcolor="#FFFFFF">
    <table width="100%" height="100%" style="min-width: 348px;" border="0" cellspacing="0" cellpadding="0" lang="en">
      <tr height="32">
        <td></td>
      </tr>
      <tr align="center">
        <td>
          <table
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="padding-bottom:20px; max-width:516px; min-width:220px;"
          >
            <tr>
              <td width="8"></td>
              <td>
                <div
                  style="border:1px solid #dadce0; border-radius:8px; padding:40px 24px;"
                  align="left"
                  class="mdv2rw"
                >
                  <img
                    src="https://cdn2.downdetector.com/static/uploads/logo/image9.png"
                    alt="Yahoo"
                    border="0"
                    style="margin-bottom:16px; display:block; height:auto; width:100%; max-width:120px;"
                  />

                  <div
                    style="font-family:'Google Sans',Roboto,Helvetica,Arial,sans-serif; border-bottom:1px solid #dadce0; color:rgba(0,0,0,0.87); line-height:32px; padding-bottom:24px; text-align:left;"
                  >
                    <div style="font-size:24px;">{{HEADING}}</div>
                  </div>
                  <div
                    style="font-family:Roboto,Helvetica,Arial,sans-serif; font-size:14px; color:rgba(0,0,0,0.87); line-height:20px; padding-top:20px; text-align:left;"
                  >
                    <p style="margin:0 0 12px 0;">
                      {{BODY}}
                    </p>
                    <p style="margin:0 0 12px 0;">Case ID: {{CASE_ID}}</p>
                    <p style="margin:0 0 12px 0;">Assigned representative: <strong>{{REPRESENTATIVE_NAME}}</strong></p>

                    <p style="margin:0;">
                      This information is confidential and should not be shared with anyone. If the call disconnects,
                      please expect a return call from your assigned representative. If needed to confirm the
                      representative's identity, refer to the details provided here.
                    </p>
                  </div>
                </div>
                <div
                  style="font-family:Roboto,Helvetica,Arial,sans-serif; color:rgba(0,0,0,0.54); font-size:11px; line-height:18px; padding-top:12px; text-align:left;"
                >
                  <div>{{FOOTER}}</div>
                </div>
              </td>
              <td width="8"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr height="32">
        <td></td>
      </tr>
    </table>
  </body>
</html>
